body{
    background-color: bisque;
}

#ent{
    float: left;
    width: 70%;
    
}
#intr{
    float: right;
    width: 30%;
}


#ent:hover{
    background-color: aliceblue;
}
#intr:hover{
    background-color: aliceblue;
}

.text{
    margin-top: 2px;
    margin-bottom: 2px;

    float: left;
    width: 100%;

    box-sizing: border-box;
}
.textinhoud{
    white-space: pre-wrap;
}
.bordercool{
    background: rgb(252, 213, 206);
    border: 1px solid black;
}